*.pyc
_harp/_tools/configuration/exchange-tokens.json
_harp/_tools/configuration/grants.json
_harp/_tools/configuration/reportconfig.py
_harp/_tools/status.log

.DS_Store

# When published, the data directory will appear at the root level (this strips out the directory used to generate that one)
_harp/

# remove front-end components until it is ready
assets/*
index.html
